@* Views/Shared/_BotonesOperacion.cshtml *@
<form method="post" class="mt-4 d-flex gap-2">
    <button type="submit" class="btn btn-secondary m-2" formaction="/Operacion/Volver">Atrás</button>
    <button type="submit" class="btn btn-danger m-2" formaction="/Operacion/Salir">Salir</button>
</form>